{% extends 'base.html.twig' %}

{% block title %}New ReportUser{% endblock %}

{% block body %}
    <h1>Create new ReportUser</h1>

    {{ include('report/user/_form.html.twig') }}

    <a href="{{ path('report_user_index') }}">back to list</a>
{% endblock %}
