@media screen and (max-width: 576px) {
  .article-show-thumbnail {
    height: 200px !important;
  }
}


.article-preview {
  text-decoration: none;
  color: $black !important;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    background-color: $light-grey !important;
    color: $black !important;
  }

  .icon {
    width: 16px !important;
  }
}

.article-preview-thumbnail {
  height: 170px;
  object-fit: cover;
}

.article-preview-category {
  font-size: 0.9rem;
}

.article-show-thumbnail {
  width: 100% !important;
  height: 400px;
  object-fit: cover;
}

.article-content {
  line-height: 1.625rem !important;
}

.article-preview-default-thumbnail {
  background-color: $default !important;
  height: 170px;
  color: $grey !important;
}

.article-show-default-thumbnail {
  @extend .article-show-thumbnail;
  background-color: $default !important;
  color: $grey !important;
}

.article-show-user {
  &:hover {
    background-color: $light-grey !important;
    text-decoration: none;
  }
}