html {
  overflow-y: scroll !important;
  position: relative;
  min-height: 100%;
}

body {
  background-color: $dark !important;
  padding-right: 0 !important;
  font-family: 'Montserrat', sans-serif !important;
}

h1 {
  @extend h1;
  font-weight: bold !important;
  margin-bottom: 2rem !important;
  color: $secondary !important;
}