.navbar-dark {
  background-color: $dark-lighter !important;
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
}

html {
  overflow-y: scroll !important;
  position: relative;
  min-height: 100%;
}

body {
  background-color: $dark !important;
  padding-right: 0 !important;
  color: $primary !important;
}

h1 {
  @extend h1;
  font-weight: bold !important;
  margin-bottom: 2rem !important;
}