html {
  overflow-y: scroll !important;
  position: relative;
  min-height: 100%;
}

body {
  background-color: $background !important;
  padding-right: 0 !important;
  font-family: 'Montserrat', sans-serif !important;
}

h1 {
  @extend h1;
  font-weight: bold !important;
  margin-bottom: 2rem !important;
  color: $secondary !important;
}

.border-radius-0 {
  border-radius: 0 !important;
}

.font-size-08 {
  font-size: 0.8rem !important;
}

.font-size-09 {
  font-size: 0.9rem !important;
}

.cursor-pointer{
  cursor: pointer !important;
}

.form-delete-button{
  @extend .position-absolute;
  bottom: 1.5rem !important;
}

.text-black {
  color: $black !important;
}

.text-grey {
  color: $grey !important;
}

.nav-tabs-border-0 {
  a:hover {
    border-color: transparent transparent transparent!important;
  }
}

.border-width-medium {
  border-width: medium !important;
}

.border-bottom-width-2 {
  border-bottom: 2px solid #dee2e6 !important;
}

.text-hover-primary {
  &:hover {
    color: $primary !important
  }
}