.user-show-cover-picture {
  width: 100% !important;
  height: 300px;
  object-fit: cover;
  border: $primary 1px solid !important;
}

//TODO héritage picture

.user-preview-profile-picture {
  width: 100px !important;
  height: 100px;
  object-fit: cover;
  border: $primary 2px solid !important;
  border-radius: 50% !important;
}

.user-show-profile-picture {
  width: 200px !important;
  height: 200px;
  object-fit: cover;
  border: white 3px solid !important;
  border-radius: 50% !important;
  top: -100px;
  left: 12px;
  position: relative;
}

.user-show-infos {
  margin-left: 25px !important;
  margin-top: 10px;
}

.user-show-header {
  height: 120px !important;
}

.user-show-username {
  color: $secondary;
  font-weight: bold;
  font-size: 2rem;
}

.user-show-button-unfollow {
  &:after {
    content: 'Abonné';
  }

  &:hover {
    background-color: $danger !important;
    border-color: $danger !important;
    content: '';
    &:after {
      content:'';
    }
    &:before {
      content: 'Se désabonner';
    }
  }
}

.user-show-default-cover-picture {
  width: 100% !important;
  height: 300px;
  object-fit: cover;
  background-color: #dbdbdb;
}

.btn-action-user{
  width: 150px;
}