<div class="d-flex text-center font-weight-bold bg-white font-size-11">
    {% if app.user %}
        {% if active == 'articles' %}
            <div class="nav-link text-primary pl-0">
                Articles
            </div>
        {% else %}
            <a class="text-decoration-none nav-link text-grey text-hover-primary pl-0" href="{{ path('admin_articles') }}">
                Articles
            </a>
        {% endif %}
    {% endif %}
    {% if active == 'users'  %}
        <div class="nav-link text-primary">
            Utilisateurs
        </div>
    {% else %}
        <a class="text-decoration-none nav-link text-grey text-hover-primary " href="{{ path('admin_users') }}">
            Utilisateurs
        </a>
    {% endif %}
    {% if active == 'reports' %}
        <div class="nav-link text-primary">
            Signalements
        </div>
    {% else %}
        <a class="text-decoration-none nav-link text-grey text-hover-primary " href="{{ path('admin_reports') }}">
            Signalements
        </a>
    {% endif %}

</div>