<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        {% if navActive == 'article' %}
            <div class="nav-link active font-weight-bold text-uppercase">Articles</div>
        {% else %}
            <a class="nav-link text-uppercase" href="{{ path('admin_articles') }}">Articles</a>
        {% endif %}
    </li>
    <li class="nav-item">
        {% if navActive == 'user' %}
            <div class="nav-link active font-weight-bold text-uppercase">Utilisateurs</div>
        {% else %}
            <a class="nav-link text-uppercase" href="{{ path('admin_users') }}">Utilisateurs</a>
        {% endif %}
    </li>
    <li class="nav-item">
        {% if navActive == 'report' %}
            <div class="nav-link active font-weight-bold text-uppercase">Signalements</div>
        {% else %}
            <a class="nav-link text-uppercase" href="{{ path('admin_reports') }}">Signalements</a>
        {% endif %}
    </li>
</ul>