{% extends 'admin/admin.html.twig' %}

{% block table %}

        <div class="accordion" id="accordionReport">
            <div class="card">
                <div class="card-header" id="headingArticle">
                    <h2 class="mb-0">
                        <button class="px-0 font-weight-bold btn btn-link btn-block text-left text-secondary text-decoration-none" type="button" data-toggle="collapse" data-target="#collapseArticle" aria-expanded="false" aria-controls="collapseArticle">
                            <span class="pl-3">
                                Articles
                            </span>
                        </button>
                    </h2>
                </div>

                <div id="collapseArticle" class="collapse" aria-labelledby="headingArticle" data-parent="#accordionReport">
                    <div class="card-body border-0 p-0">
                        {{ include('admin/reports_tables/article.html.twig') }}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingUser">
                    <h2 class="mb-0 ">
                        <button class="px-0 font-weight-bold btn btn-link btn-block text-left collapsed text-secondary text-decoration-none" type="button" data-toggle="collapse" data-target="#collapseUser" aria-expanded="false" aria-controls="collapseUser">
                            <span class="pl-3">
                                Utilisateurs
                            </span>
                        </button>
                    </h2>
                </div>
                <div id="collapseUser" class="collapse" aria-labelledby="headingUser" data-parent="#accordionReport">
                    <div class="card-body border-0 p-0">
                        {{ include('admin/reports_tables/user.html.twig') }}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingComment">
                    <h2 class="mb-0">
                        <button class="px-0 font-weight-bold btn btn-link btn-block text-left collapsed text-secondary text-decoration-none" type="button" data-toggle="collapse" data-target="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
                            <span class="pl-3">
                                Commentaires
                            </span>

                        </button>
                    </h2>
                </div>
                <div id="collapseComment" class="collapse" aria-labelledby="headingComment" data-parent="#accordionReport">
                    <div class="card-body border-0 p-0">
                        {{ include('admin/reports_tables/comment.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
