$primary: #7451eb;
$secondary: #003668;
$dark: #f5f5f5;
$dark-lighter: #fff;
$danger: #dc3545;
$black: #212529;
$light-grey: #ebebeb;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "scss/comment";
@import "scss/article";
@import "scss/user";
@import "scss/template";
@import "scss/buttons";
@import "scss/menu";
@import "~bootstrap/scss/bootstrap";
