<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>
        <header>
            {%  if (app.user) %}
                <div>
                    <a href="/logout"> Déconnexion </a>
                </div>
            {% else  %}
                <div>
                    <a href="/user/new"> Inscription </a>
                    <a href="/login"> Connexion </a>
                </div>
            {% endif %}
            <div>
                <a href="/article"> Articles </a>/
                <a href="/user"> User </a>/
                <a href="/comment"> Comment </a>/
                <a href="/report/user"> Report user </a>/
                <a href="/report/article"> Report article </a>/
                <a href="/report/comment"> Report comment </a>
            </div>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
