{% extends 'base.html.twig' %}

{% block title %}New ReportArticle{% endblock %}

{% block body %}
    <h1>Create new ReportArticle</h1>

    {{ include('report_article/_form.html.twig') }}

    <a href="{{ path('report_article_index') }}">back to list</a>
{% endblock %}
