<div class="border-top">
    <div class="container">
        <div class="row my-3">
            <div class="col-6 d-flex flex-column">
                <div class="text-uppercase text-secondary font-size-09"> APIs</div>
                <a href="/api" class="pt-3 text-decoration-none text-black text-hover-primary font-size-09"> Notre API </a>
                <a href="https://didier-martin-blog.herokuapp.com/api" class="py-3 text-decoration-none text-black text-hover-primary font-size-09"> API utilisée </a>
            </div>
            <div class="col-6">
                <div class="text-uppercase text-secondary font-size-09"> Equipe </div>
                <div class="pt-3 text-decoration-none text-black font-size-09"> CHAILLY Rudy</div>
                <div class="py-3 text-decoration-none text-black font-size-09"> DE JESUS MARTINS Davide</div>
            </div>
        </div>
    </div>
</div>
