<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand font-weight-bold text-primary" href="{{ path('article_index')}}">DJMC - Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">

        </ul>
        <form class="form-inline">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <a href="/login" class="btn-pill btn-outline-primary mx-3"> Connexion </a>
            <a href="/user/new" class="btn-pill btn-primary"> Inscription </a>
        </form>
    </div>
</nav>