{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    {% if (app.user) %}
    <a href="{{ path('article_new') }}">Create new</a>
    {% endif %}
    {% for article in articles %}
        {{ include('article/preview.html.twig', {'article': article}) }}
    {% endfor %}
{% endblock %}
