<div class="d-flex text-center font-weight-bold bg-white">
    {% if app.user %}
            {% if active == 'follows' %}
                <div class="col border-primary border-bottom-width-2 nav-link text-primary">
                    Articles suivis
                </div>
            {% else %}
                <a class="col border-bottom text-decoration-none nav-link text-grey text-hover-primary " href="{{ path('article_follows') }}">
                    Articles suivis
                </a>
            {% endif %}
    {% endif %}
    {% if active == 'all'  %}
        <div class="col border-primary border-bottom-width-2 nav-link text-primary">
            Tous les articles
        </div>
    {% else %}
        <a class="col border-bottom text-decoration-none nav-link text-grey text-hover-primary " href="{{ path('article_all') }}">
            Tous les articles
        </a>
    {% endif %}
    {% if active == 'partners' %}
        <div class="col border-primary border-bottom-width-2 nav-link text-primary">
            Articles partenaires
        </div>
    {% else %}
        <a class="col border-bottom text-decoration-none nav-link text-grey text-hover-primary " href="{{ path('article_partners_index') }}">
            Articles partenaires
        </a>
    {% endif %}

</div>