<div class="d-flex text-center font-weight-bold bg-white font-size-11">
    {% if app.user %}
            {% if active == 'follows' %}
                <div class="nav-link text-primary">
                    Suivis
                </div>
            {% else %}
                <a class="text-decoration-none nav-link text-grey text-hover-primary " href="{{ path('article_follows') }}">
                    Suivis
                </a>
            {% endif %}
    {% endif %}
    {% if active == 'all'  %}
        <div class="nav-link text-primary">
            Tous les articles
        </div>
    {% else %}
        <a class="text-decoration-none nav-link text-grey text-hover-primary " href="{{ path('article_all') }}">
            Tous les articles
        </a>
    {% endif %}
    {% if active == 'partners' %}
        <div class="nav-link text-primary">
            Articles partenaires
        </div>
    {% else %}
        <a class="text-decoration-none nav-link text-grey text-hover-primary " href="{{ path('article_partners') }}">
            Articles partenaires
        </a>
    {% endif %}

</div>