{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>{{ user.username }}</h1>
    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
    {% for article in user.articles %}
        {{ include('article/preview.html.twig', {'article': article}) }}
    {% endfor %}
{% endblock %}
