
{% if (reportForm is defined) and (app.user is not null)%}
    {{ form_start(reportForm) }}
    {{ form_widget(reportForm) }}
    <button class="btn">{{ button_label|default('Report') }}</button>
{{ form_end(reportForm) }}
{% endif %}
